---
import { SITE_TITLE } from "../consts";
const BASE_URL =  import.meta.env.BASE_URL;

---


<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <a href=`${BASE_URL}` class="nav-title">{SITE_TITLE}</a>
        <div class="nav-menu">
          <div class="nav-item-wrapper">
            <a href=`${BASE_URL}archive` class="nav-item-content">目录</a>
          </div>
          <div class="nav-item-wrapper">
            <a href=`${BASE_URL}about` class="nav-item-content">关于</a>
          </div>
          <!-- <div class="nav-item-wrapper">
            <a href="/rss.xml" class="nav-item-content" target="_blank">RSS</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</nav>
